<!DOCTYPE html>
<html lang="en">
<style>
    .goog-logo-link {
        display: none !important;
    }

    .goog-te-gadget {
        color: transparent !important;
    }

    .goog-te-gadget .goog-te-combo {
        color: black !important;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!--forawesome-->
    <script src="https://kit.fontawesome.com/d5a2a27062.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/adminStyle.css">
</head>

<body>
    <div class="logo-and-searchBar">
        <img src="https://res.cloudinary.com/dmlxkewu7/image/upload/v1737962980/simpli_nestle-logo_rulund.png"
            data-src="https://res.cloudinary.com/dmlxkewu7/image/upload/v1737962980/simpli_nestle-logo_rulund.png"
            alt="LOGO" width="146" data-uk-img>
        <div class="HeaderSearchBar">
            <input type="text" class="product-search-bar" placeholder="Search for user by name, email ....." />
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
    <div class="menu-and-header">
        <i class="fa-solid fa-bars menu-bar"></i>
    </div>
    <main>
        <nav class="side-nav">
            <div class="close-nav">
                <i class="fa-solid fa-xmark close-nav"></i>
            </div>
            <ul>
                <li><a href="/admin/">Dashboard Overview</a></li>
                <li ><a  href="/admin/user">User Management</a></li>
                <li class="active"><a>Transaction history</a></li>
                <li><a href="/admin/investmentPlans">Investment Plan Management</a></li>
                <li><a href="/admin//walletAdresses">Wallet Management</a></li>
                <li><a href="/admin/Notifications">Notifications and Alerts</a></li>

                <!--<li><a></a></li>
                        <li><a>Security and Audit Logs</a></li>-->
            </ul>
        </nav>
        <section>
            <h2>Transaction History for: </h2>
            <div class="transaction-header">
                <span> <img src="/photos/about-us-img-1.jpg" alt="User" width="50px" class="user-img" /></span>
                <b>Eze santex</b>
            </div>
            <div class="total-in-out">
                <p>Total Bitcoin in:<span>4,000</span></p>
                <p>Total Bitcoin out:<span>4,000</span></p>
            </div>
            <div class="total-in-out">
                <p>Total USDT in:<span>4,000</span></p>
                <p>Total USDT out:<span>4,000</span></p>
            </div>

            <div class="filter-by-date">
                <label for="start-date">Start Date:</label>
                <input type="date" id="start-date" name="start-date">

                <label for="end-date">End Date:</label>
                <input type="date" id="end-date" name="end-date">

                <button id="filter-button">Filter</button>
            </div>

            <div class="user-container" id="transaction-history">
                {{#each transactions}}
                <div class="users-card">
                    <div class="user-name">
                        <div class="date">
                            <span>{{transactionType}}</span>
                            <span class="normal-size">{{name}}</span>
                        </div>
                        <div class="date">
                            <span>{{coinType}}: <span>{{amount}}</span></span>
                        </div>
                        <div class="date">
                            <span>{{day}}:</span>
                            <span>{{month}}:</span>
                            <span>{{year}}</span>
                            <span>{{hour}}:</span>
                            <span>{{minute}}</span>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

        </section>
    </main>


    <script src="/adminScript.js"></script>
</body>

</html>