<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>highcapital.com | CONFIRRM DEPOSIT </title>
    <meta name="theme-color" content="#181818">
    <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
    <!--forawesome-->
    <script src="/https://kit.fontawesome.com/d5a2a27062.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/loggedInStyle.css">
</head>

<body>
<section>
        <div class="header">
        <a href="/user/Dashboard" class="a color-gradient"> Access Your Dashboard</a>
        <p class="header">CONFIRM DEPOSIT</p>
    </div>

    <form id="confirmDepositForm" action="/user/deposit" method="post" enctype="multipart/form-data"
        class="deposit-form gap-and-padding margin-bottom color-black">
        <h4 class="header">Please confirm your deposit</h4>
        <span class="error-message-for-coin">You are about to invest in {{name}} with the deposit of
            ${{amount}} worth of {{asset }} to your account.</span>
        <span class="error-message-for-coin">This plan comes with {{dailyProfit}}% daily profit and
            {{referralBonus}}% referral bonus (if your your referree invest on thesame plan). It will last for
            {{duration}} days. Investment duration will begin count upon
            admin confirmation</span>

        <div class="form-group">
            <label for="wallet-to-deposit" class="form-control-label">Make your transfer to this coin Adress</label>
            <span class="error-message-for-coin"> Click adress to copy</span>
            <input type="text" name="adress" id="wallet-to-deposit" class="darker-color select-input" value="{{adress}}"
                required readonly
                onclick="this.select(); document.execCommand('copy'); alert('Address copied to clipboard!');">

            <input type="hidden" name="name" value="{{name}}">
            <input type="hidden" name="asset" value="{{asset}}">
            <input type="hidden" name="dailyProfit" value="{{dailyProfit}}">
            <input type="hidden" name="amount" value="{{amount}}">
            <input type="hidden" name="duration" value="{{duration}}">
            <input type="hidden" name="referralBonus" value="{{referralBonus}}">
            <input type="hidden" name="depositId" value="{{depositId}}">
            <!-- Ensure the depositId is passed to the server -->

            <label for="receipt-upload" class="form-control-label">Upload your deposit receipt here (PDF or
                Image):</label>
            <input type="file" name="deposit_receipt" id="receipt-upload" class="darker-color select-input"
                accept=".png, .jpg, .jpeg, .pdf" required>
            <span class="error-message">{{#if fileSizeError}}{{fileSizeError}}{{else}}&nbsp;{{/if}}</span>
        </div>

        <div class="form-group">
            <button type="submit" class="submit-button">CONFIRM DEPOSIT <i class="fa fa-check-circle"></i></button>
        </div>
    </form>
</section>

    <script src="/script.js"></script>
    <script id="plans-data" type="application/json">{{{json plans}}}</script>


    <script src="/script.js"></script>
</body>

</html>